
body {
    margin: 0;
    padding: 0;
    background-color: #232331;
}
    
#container {
    display: flex;
    padding: 50px;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}


#small-container {
    display: grid;
    height: 150px;
    background-color: #F79668;;
    grid-template-columns: 1fr;
    border-radius: 15px;
    grid-template-rows: 1fr;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 70px;
    font-weight: bold;
    color: white;
}

#big-container {
    display: grid;
    height: 500px;
    gap: 10px;
     
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    

}


#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
    
    background-color: #4CB896;
    border-radius: 15px;

    font-size: 40px;
    font-weight: bold;
    color: white;
}

#box2 {
    grid-column: span 2;
    border-radius: 15px;
    background-color: #6DE2C9; ;

    justify-content: center;
    align-items: center;

    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: #232331;

    padding: 40px;
}

#box3 {
    
    border-radius: 15px;
    background-color: #6DE2C9; ;

    justify-content: center;
    align-items: center;

    display: flex;
    font-size: 40px;
    
    color: white;

    padding: 40px;
}

#box4 {
    
    border-radius: 15px;
    background-color: #6DE2C9; ;

    justify-content: center;
    align-items: center;

    display: flex;
    font-size: 40px;
    
    color: white;

    padding: 40px;
}


  /* Navegación */
  nav {
    border-top: 2px solid #F79668;;
    border-bottom: 2px solid #F79668;;
    padding: 13px 100px;
    margin: 10px 0;

  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  nav li {
    display: inline-block;
    margin-right: 15px;
  }
  
  nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  



#box3 { background-color: #F47266;border-radius: 15px; }
#box4 { background-color: #F79668;border-radius: 15px; }
#box5 { background-color: #5BCDB3;border-radius: 15px;}
#box6 { background-color: #6DE2C9; border-radius: 15px;}